html{
   background-color: #3f0d12;
height: 100%;
width: 100%;

    
}

.NavBar{
    background-image: url("Blitz War.png");
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
     bottom: 80%;
}



#title{
color: red;
}

.Pro{
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-rows: 1fr 1fr 1fr ;
  height: 30px;
  width: 30px;
  margin-left: 35%;
  padding: 50px;
    
}

#Text{
    position: relative;
    margin-top:150px ;
}

a{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

footer{
    position: relative;
    font-size: 50px;
    top: 1900px;
    right: 530px;
    background-color: white;
    width:  1400px;

}

.uk-inline{
 height: 450px;
width: 450px;  
}

